name: Rust CI + Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Rust
        run: cargo build --release

      - name: Build Docker image
        run: docker build -t rust-game .
